.monal__screenshot {
	width: 100%;
	max-width: 350px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
	border: 1px solid $white;
	border-radius: 5px;
	overflow: hidden;

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}
